:root {
  --gt-border-radius: 10px;
  --gt-row-height: 44px;

  --f7-font-size: 16px;

  --gt-primary-font-size: calc(var(--f7-font-size));
  --gt-secondary-font-size: calc(0.75 * var(--f7-font-size));
  --gt-mini-font-size: calc(0.65 * var(--f7-font-size));
  --gt-rating-font-size: calc(1.2 * var(--f7-font-size));

  --gt-secondary-font-color-rgb: 125,125,125;
  --gt-secondary-font-color: rgb(var(--gt-secondary-font-color-rgb));
  

  --gt-icon-size: 1rem;
  --gt-icon-size-large: 1.5rem;

  --f7-page-push-transition-duration: 300ms;
  --f7-page-parallax-transition-duration: 300ms;
  --f7-page-dive-transition-duration: 200ms;
  --f7-page-fade-transition-duration: 200ms;
}

.color-theme-blue {
  --f7-theme-color: #00A1DE;
  --f7-theme-color-rgb: 0, 161, 222;
  --f7-theme-color-shade: #0e92c1;
  --f7-theme-color-tint: #16b9f4;
}

// body {
//   position: fixed;
//   overflow: hidden;
//   -webkit-overflow-scrolling: touch;
// }

// body {
//   position: fixed;
//   overflow: hidden;
// }

// .appRoot {
//   width: 100vw;
//   height: 100vh;
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
// }

.button {
  text-transform: none;
}

.popover-backdrop {
  transition-duration: 200ms;
}

.ios, .aurora {
  --gt-panel-color-rgb: 255, 255, 255;
  --gt-panel-color: rgb(var(--gt-panel-color-rgb))
}

.theme-dark {
  --gt-panel-color-rgb: 31, 34, 37;
  --gt-panel-color: rgb(var(--gt-panel-color-rgb))
}

:root {
  --f7-menu-bg-color: #00A1DE;
}



// const effects = [
//   'f7-circle',
//   'f7-cover',
//   'f7-cover-v',
//   'f7-dive',
//   'f7-fade',
//   'f7-flip',
//   'f7-parallax',
//   'f7-push',
// ];