

.themedButton {
  padding: 1rem;
  background-color: var(--gt-panel-color);
  font-weight: 500;
  margin-left: 0.5rem;
  --f7-button-hover-bg-color: rgba(var(--gt-panel-color-rgb), 0.5);
}

.themedButton.active-state {
  background-color: rgba(var(--gt-panel-color-rgb), 0.5);
}
